@model MarketPlace.ViewModel.ServiceVM
    @using MarketPlace.Utilites
@{
    ViewBag.Title = "ServiceList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Breadcrumb -->
<div class="breadcrumb-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="breadcrumb-title">
                    <h2>Peşəkar tapın</h2>
                </div>
            </div>
            <div class="col-auto float-right ml-auto breadcrumb-menu">
                <nav aria-label="breadcrumb" class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Ana sehife</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Peşəkar tapın</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- /Breadcrumb -->

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 theiaStickySidebar">
                <div class="card filter-card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Axtarış Filtri</h4>
                            <div class="filter-widget">
                                <div class="filter-list">
                                    <h4 class="filter-title">Açar söz</h4>
                                    <form id="search_form" action="@Url.Action("ServiceList","Categories")">
                                        
                                        <div class="input-group">
                                            <input type="text" name="searchTerm" class="form-control" placeholder="Nə axtarırsan?">
                                            <input type="hidden" name="sortBy" value="@Model.sortBy" />
                                            <input value="Axtar" class="input-group-append" type="submit" />
                                        </div>
                                    </form>
                                </div>
                                <div class="filter-list">
                                    <h4 class="filter-title">Sırala</h4>
                                    <select onchange="location=this.value" class="form-control selectbox select">
                                        <option></option>
												<option value="@Url.Action("ServiceList","Categories",new {searchTerm=Model.searchTerm,sortBy=(int)ServiceEnum.PriceLowToHigh })">Qiymət aşağıdan yüksəyə</option>
												<option value="@Url.Action("ServiceList","Categories",new {searchTerm=Model.searchTerm,sortBy=(int)ServiceEnum.PriceHighToLow})">Qiymət yüksəkdən aşağı</option>
												<option value="@Url.Action("ServiceList","Categories",new {searchTerm=Model.searchTerm,sortBy=(int)ServiceEnum.Popularity })">Ən yeni</option>
                                    </select>
                                </div>
                                <div class="filter-list">
                                    <h4 class="filter-title">Kateqoriyalar</h4>
                                    <select onchange="location=this.value" class="form-control form-control selectbox select">
                                        <option>Bütün kateqoriyalar</option>
                                        @foreach (var item in Model.categories)
                                        {
                                            <option  value="@Url.Action("ServiceList","Categories",new { id=item.ServiceCategoryId,sortBy=Model.sortBy})" >@item.Name</option>

                                        }
                                    </select>
                                </div>
                                <div class="filter-list">
                                    <h4 class="filter-title">Yer</h4>
                                    <input class="form-control" type="text" placeholder="Yeriniz">
                                </div>
                            </div>
                            <button class="btn btn-primary pl-5 pr-5 btn-block get_services" type="button">Axtarış</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="row align-items-center mb-4">
                    <div class="col-md-6 col">
                        <h4><span>118</span> Xidmət</h4>
                    </div>
                    <div class="col-md-6 col-auto">
                        <div class="view-icons">
                            <a href="javascript:void(0);" class="grid-view active"><i class="fas fa-th-large"></i></a>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="row">
                        @foreach (var x in Model.services)
                        {
                            <div class="col-lg-4 col-md-6">
                                <div class="service-widget">
                                    <div class="service-img">
                                        <a href="@Url.Action("ServiceDetail","Service",new { id=x.ServiceId})">
                                            <img class="img-fluid serv-img" alt="Service Image" src="@x.tbl_photo.URL">
                                        </a>
                                        <div class="item-info">
                                            <div class="service-user">
                                                <a href="#">
                                                    @*<img src="@x.tbl_user.tbl_photo.URL" alt="">*@
                                                </a>
                                                <span class="service-price">@x.Price AZN</span>
                                            </div>
                                            <div class="cate-list">
                                                <a class="bg-yellow" href="service-details.html">@x.tbl_servicecategory.Name</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="service-content">
                                        <h3 class="title">
                                            <a href="service-details.html">@x.Name</a>
                                        </h3>
                                        <div class="rating">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star"></i>
                                            <span class="d-inline-block average-rating">(4.3)</span>
                                        </div>
                                        <div class="user-info">
                                            <div class="row">
                                                <span class="col-auto ser-contact">
                                                    <i class="fas fa-phone mr-1"></i>
                                                    <span>xxxxxxxx49</span>
                                                </span>
                                                <span class="col ser-location">
                                                    <span>Baki, Azerbaijan</span> <i class="fas fa-map-marker-alt ml-1"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

